default_environment: dev
webhook_url: https://hooks.slack.com/services/MxxxxxxxxxxxxA32Nxyyy23yyy2IyyyyyyyS234H
default_channel: default-channel-of-your-choice
default_username: some_user_name
environments:
  dev:
    chronos_endpoint: http://dev.example.com:4400
    marathon_endpoint: http://dev.example.com:8080
  prod:
    chronos_endpoint: http://prod.example.com:4400
    marathon_endpoint: http://prod.example.com:8080
  stage:
    chronos_endpoint: http://stage.example.com:4400
    marathon_endpoint: http://stage.example.com:8080
registry: example.com:5000
